<div class="panel panel-default">
<div class="panel-heading">
  <h1 class="text-center">Post New Article</h1>
</div>

<%= render 'form' %>
</div>

<br>
<div>
  [<%= link_to 'Back to all articles', articles_path %>]
</div>
