<div class="jumbotron text-center">
  <h1>Welcome to Experiment Blog</h1>
  <p>Let the world hear your views, thoughts and opinion</p>
  <p><%= link_to "Sign up now", "#", class: "btn btn-primary btn-lg" %> or <%= link_to "Sign in now", "#", class: "btn btn-success btn-lg" %></p>
</div>

