<div class="container">
  <footer class="row">
    <div class="col-md-2 col-md-offset-10">
      <p>&copy; Bravo <%= Time.now.year %> | <%= link_to "About", about_path %></p>
    </div>
  </footer>
</div>
